/* MAIN NAV */
.nav-wrapper {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  background-color: #fff;
  width: 100%;
}
nav {
  max-width: 1650px;
  min-height: 60px;
  margin: 0 auto;
}
.navbar {
  padding: 0 2.5rem;
}
.navbar-nav {
  margin: 0 auto;
}
.navbar-nav .navbar-brand,
nav .nav-item {
  font-size: .9rem;
  font-weight: 500;
}
.nav-link {
  margin: 0 1.5rem;
}
nav .nav-item {
  margin-right: 0;
  color: #888;
  background-color: #fff;
  border: none;
}
.navbar-nav .dropdown-menu {
  min-width: max-content;
}
.dropdown .navbar-nav a {
  margin: 0;
}
.register-link,
 .auth-dropdown  {
  padding: .7rem 2rem;
  text-align: center;
}
.register-link .dropdown-item {
  text-align: center;
  width: 100%
}    
.register-link .dropdown-item.btn {
  width: 6rem;
  margin: 1rem auto;
  padding: .5em;
}
.register-link .dropdown-item.btn:hover {
  box-shadow: 0 0 0 0.2rem rgba(124,165,197, .5);
  border-color: rgba(124,165,197, .5);
}
.dropdown-menu.show {
  margin-bottom: 2rem;
}

/* REMOVE DEFAULT STYLING */
.dropdown-item.active, 
.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #eee;
}
/* .dropdown-item:focus, 
.dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #fff;
} */

/* FOOTER */
footer {
  text-align: center;
  margin-top: 5rem;
  height: 100%;
  padding: 1rem;
  padding-top: 1.5rem;
  background-color: #d0d9e0;;
}

@media (max-width: 576px) { 
  .navbar {
    padding: 0;
  }
}
@media (min-width: 992px) { 
  .navbar-nav .dropdown {
    position: absolute;
    right: 2.5rem;
    margin: 0 1.5rem;
  }
}