/* MAIN NAV */
.nav-wrapper {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  background-color: #fff;
  width: 100%;
}
nav {
  max-width: 1650px;
  min-height: 60px;
  margin: 0 auto;
}
.navbar {
  padding: 0 2.5rem;
}
.navbar-nav {
  margin: 0 auto;
}
.navbar-nav .navbar-brand,
nav .nav-item {
  font-size: .9rem;
  font-weight: 500;
  /* margin: 0 1.5rem; */
}

nav .nav-item {
  margin-right: 0;
  color: #888;
  background-color: #fff;
  border: none;
}
.nav-item .dropdown-item {
  width: max-content;
  padding-top: 1rem;
}
.dropdown .navbar-nav a {
  margin: 0;
}
.login {
  margin-bottom: 3rem;
}    

/* FOOTER */
footer {
  text-align: center;
  margin-top: 5rem;
  height: 100%;
  padding: 1rem;
  padding-top: 1.5rem;
  background-color: #ddd;
}

@media (max-width: 576px) { 
  .navbar {
    padding: 0;
  }
}
@media (min-width: 992px) { 
  .navbar-nav .dropdown {
    position: absolute;
    right: 2.5rem;
    margin: 0 1.5rem;
  }
}