.card {
  border: none;
}
.card-body .container,
.card-body .col {
  padding: 0;
}
.card-header {
  background-color: #fff;
}
.card-header:hover {
  background-color: rgba(0, 0, 0, .04);
}
.preview h3,
.preview h5 {
  text-align: center;
  padding-bottom: 1rem;
}
.class-preview .details {
  margin: .5rem 0;
}
.class-description {
  margin: 1rem;
}
.performance-preview p {
  text-align: center;
}
.audition-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.audition-header .date {
  border: 1px solid #eee;
  width: 4rem;
  height: 4rem;
}
.audition-header .day,
.audition-header .month {
  margin: 0;
  text-align: center;
} 
.audition-header .day {
  font-size: 2rem;
  color: #222;
}
.audition-header .month { 
  margin: -10px;
}
.class-preview .details 
.audition-header .details { 
  margin: 1rem;
} 
.audition-header h6,
.class-preview .details h6 { 
  margin-bottom: 0;   
}
.audition-header p { 
  color: #888;
  font-size: .8rem;
  margin: 0;
}
.audition-header span { 
  color: #888;
} 
.banner {
  border: 1px solid #eee;
  padding: 80px;
  margin: 80px 80px;
  text-align: center;
}
