nav {
  height: 55px;
  border-top: 1px solid #eeeeee;
  background-color: #fff;

}
.navbar-nav {
  margin: 0 auto;
}
.navbar-nav a {
  font-size: .9rem;
  font-weight: 500;
  margin-right: 3rem;
}
.navbar-nav .dropdown {
  position: absolute;
  right: 0;
}
