nav {
  height: 55px;
  border-top: 1px solid #eeeeee;
  background-color: #fff;

}
.navbar-nav {
  margin: 0 auto;
}
.navbar-nav a,
#dropdown-btn .btn-primary {
  font-size: .9rem;
  font-weight: 500;
  margin: 0 1.5rem;
}
.navbar-nav .dropdown {
  position: absolute;
  right: 0;
}
#dropdown-btn .btn-primary {
  color: #888;
  background-color: #fff;
  border: none;
}
