.event-page {
  margin: 8rem 6rem 0;
  height: 80vh;
}
.calendar-wrapper {
  padding: 8rem 3rem 2rem;
  background-color: #eeeeee4f;
  border-right: 1px solid #eee;
}
.filter {
  margin-top: 3rem;
}
.section-wrapper {
  /* width: 100%; */
  /* padding: 4vw 8vw; */
  /* background-color: #eee; */
  /* background-color: #d0d9e0; */
  /* background-color: #696464; */
  margin-bottom: 3rem;
  /* border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd; */
  /* border-right: 1px solid #ddd; */
}
.calendar-section_content {
  /* background-color: #d0d9e0; */
  /* background-color: #696464; */
  /* background-color: #eee; */
  /* padding: 3rem; */
  max-width: 960px;
  margin: 0 auto;
}
.calendar-section_content .btn {
  margin: 0 auto;
}
.active-date {
  position: absolute;
  bottom: .5rem;
  background-color: #d0d9e0;
  border-radius: 25px;
  width: 64%;
  height: .3rem;
}
.react-calendar__tile {
  height: 2.7em;
  width: 3em;
  font-size: 4vw;
  color: #222;
}
.react-calendar,
.calendar-placeholder {
  width: 100%;
  max-width: 400px;
  border: 1px solid #eee;
}
.calendar-section_content .form-check {
  padding-left: 2.25rem;
}
.react-calendar__navigation {
  height: 55px;
  border-bottom: 1px solid #eee;
}
.react-calendar__navigation__label,
.react-calendar__year-view,
.react-calendar__decade-view {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
}
.react-calendar__month-view__weekdays {
  text-decoration: none;
}
.react-calendar__month-view__weekdays abbr {
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}
.react-calendar__month-view__days button {
  border: .5px solid #eee;
}
.react-calendar__tile {
  position: relative;
  height: 3rem;
  width: 3rem;
  font-size: 1rem;
  color: #222;
}
/* EVENT STYLING */
.react-calendar__tile--active {
  background-color: #7ca5c5;
}
.react-calendar__tile--hasActive {
  background-color: #7ca5c5;
}
.react-calendar__tile--active:enabled:hover, 
.react-calendar__tile--active:enabled:focus {
  background-color: #9ba6ac;
}
.react-calendar__tile--hasActive:enabled:hover, 
.react-calendar__tile--hasActive:enabled:focus {
    background: #7ca5c5;
}

@media (max-width: 768px) { 
  .calendar-wrapper {
    padding: 8vh 3vw;
  }
}
@media (max-width: 576px) { 
  .calendar-section_content {
    padding: 2rem;
  }
  .calendar-wrapper .container {
    margin: 0;
    padding: 0;
  }
  .react-calendar__tile {
    height: 2.7em;
    width: 3em;
    font-size: 4vw;
    color: #222;
  }
}